# Minimal configuraiton for arts dataset
# --
# A detailed description of all configuration parameters is provided
# in the manual page, see harry(1).

# Input configuration
input = {
    	# Input format.
    	input_format = "arc";
}

measures = {
	# Symbols are words
	word_delim = " %09%0a%0d;:,.()[]!?";
}

# Configuration of output
output = {
    	# Output format.
    	output_format = "text";
};
