.idea
*.la
*.lo
*.o
*.xcodeproj
.deps
.libs
CHANGES
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
check_*
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/harry.man
doc/harry.pdf
doc/harry.txt
doc/html
doc/latex-pre.inc
harry-*.tar.gz
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/harry
src/measures/measures.c
stamp-h1
test-driver
tests/*.log
